.book-brand img {
    display: block;
    margin-bottom: 20px;
}
.teaching {
    background-color: rgba(27,31,35,.05);;
    border-radius: 3px;
    border: 1px solid #aaa;
    border-left-width: 4px;
    padding: 0 1.5em 1.5em 1.5em;
}

.teaching hr {
    color: #aaa;
}

.book-expand input[type="checkbox"]:checked + .book-expand-content {
    display: block;
}

.book-expand .book-expand-content {
    display: none;
    padding: 1rem;
}

details.details-view summary {
    font-size: 1.17em;
    cursor: pointer;
}

/* Zero-based counting for ol li  */
ol {
    list-style: none;
}

ol li:first-of-type {
    counter-set: index 0;
}

ol li {
    counter-increment: index;
}

ol li:before {
    content: counter(index) ". ";
}

